@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 640px) {
    .ant-modal {
        top: 0px;
        padding-bottom: 0px;
        margin: 0px;
        max-width: 100vw;

    }
}

.ant-modal-body {
    padding: 0px;
}

.ant-modal-close {
    top: -15px;
}

.ant-modal-close-x {
    width: 30px;
    height: 30px;

}

.ant-menu-item-selected {
    color: black;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: transparent;
}

html {
    scroll-behavior: smooth;
    font-family: "Urbanist";
}

.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
    border-right: 0px solid transparent;
}
.ant-menu-item-selected a, .ant-menu-item-selected a:hover {
    color: inherit;
}

.ant-menu{
    font-family: "Urbanist";
    font-size: 16px;
    font-weight:600;
}
.ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-item-active, .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-light .ant-menu-submenu-active, .ant-menu-light .ant-menu-submenu-title:hover {
    color: #ff4d4f!important;
}

.ant-menu-item .ant-menu-item-active .ant-menu-item-only-child{
    color: #ff4d4f!important;
}
.ant-menu-item .ant-menu-item-active .ant-menu-item-only-child:hover{
    color: #ff4d4f!important;
}
.ant-menu-item-group-title {
    font-family: "Urbanist";
    color: #ff4d4f;
    font-weight: 900;
    font-size: 20px;
}